.catagory {
    padding-bottom: 64px;
    gap: 40px;
    background-color: var(--color-neutral-100);
}

.catagory .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cataTitle {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.bigTitle {
    color: var(--color-neutral-900);

    /* Heading/h3/40 */
    font-family: "Mulish";
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    /* 140% */
}

.littleTitle {
    color: var(--color-neutral-500);

    /* Body/16/Medium */
    font-family: "Mulish";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.grid-cata {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.grid-cata .top,
.grid-cata .bottom {
    display: flex;
    width: 100%;
    height: 289px;
    gap: 1.5rem;
}

.grid-cata .cata-small {
    width: calc(100%/3);
    position: relative;
    border-radius: 20px;
    border: 2px solid var(--color-neutral-300);
    background: var(--color-neutral-white);
    overflow: hidden;
}

.grid-cata .cata-big {
    width: calc(100%/3*2);
    position: relative;
    border-radius: 20px;
    border: 2px solid var(--color-neutral-300);
    background: var(--color-neutral-white);
    overflow: hidden;
}

.grid-cata .cata-small .cata-title,
.grid-cata .cata-big .cata-title {
    position: absolute;
    left: 36px;
    top: 28px;
    color: var(--color-neutral-900);

    /* Title/32/Bold */
    font-family: "Mulish";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 125% */
    z-index: 1;
}

.grid-cata .cata-small img {
    position: absolute;
    width: 300px;
    height: 300px;
    rotate: 15deg;
    top: -4px;
    right: -10%;
}

.grid-cata .cata-big img {
    position: absolute;
    width: 350px;
    height: 350px;
    top: -28px;
    right: 2%;
}