.breadcrumms {
    display: flex;
    gap: 12px;
}

.breadcrumms a span {
    font-family: "Mulish";
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
}

.breadcrumms a {
    color: var(--color-neutral-500);
    font-weight: 500;
}

.breadcrumms a:last-child {
    color: var(--color-neutral-900);
    font-weight: 700;
}