
.productContainer {
    max-width: 1440px;
    padding: 0px 150px 144px 150px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.displayProducts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.displayProducts .filterBar {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.displayProducts .filterBar button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid var(--color-neutral-500);
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-900);
    font-family: "Mulish";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.displayProducts .filterBar button.selected {
    border: 1px solid var(--color-neutral-500);
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-white);
    font-weight: 700;
}

.displayProducts .filterBar button:hover {
    border: 1px solid var(--color-neutral-500);
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-white);
    font-weight: 700;
}

.displayProducts .allProductsListContainer {
    width: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 24px;
}

.allProductList {
    display: flex;
    padding-bottom: 32px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.allProductList .product-card {
    width: calc(100%/4 - 18px);
}



.allProductsListContainer .pageNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allProductsListContainer .pageNav button.navPageBtn {
    display: flex;
    width: 124px;
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    border-radius: 8px;
    border: 1px solid var(--color-neutral-300);
    background: var(--color-neutral-white);
}

.allProductsListContainer .pageNav button.activeNavPage {
    background: var(--color-neutral-200);
}

.allProductsListContainer .pageNav .navPageBtn span {
    color: var(--color-neutral-900);
    /* Body/14/Bold */
    font-family: "Mulish";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 142.857% */
}

.allProductsListContainer .pageNav .pagination {
    display: flex;
}

.allProductsListContainer .pageNav .pagination button {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
}

.allProductsListContainer .pageNav .pagination button.activePage {
    border-radius: 8px;
    background: var(--color-neutral-200);
    color: var(--color-neutral-900);
    text-align: center;

    /* Body/14/ExtraBold */
    font-family: "Mulish";
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    /* 142.857% */
}

.allProductsListContainer .pageNav button.hidden {
    visibility: hidden;
}
.productDetail{
    margin-bottom: 200px;
}
